<template name="app">
    {{>navbar}}
    <div class="container-fluid cover">
        <img class="overlay img-responsive" src="/img/indonesia.png">
        <div class="row">
            <div class="col-md-12">
                <img class="capres1 img-responsive" src="/img/prabowohatta.png">
                <img class="capres2 img-responsive" src="/img/jokowijk.png">
            </div>
        </div>
    </div>
    <div class="container-fluid logo">
        <img class="img-responsive" src="/img/logo_small.png">
    </div>
    <div class="container-fluid menu">
        <div class="menu row">
            <div class="tab col-md-12">
                <ul>
                    <li class="active">
                        <a href="#Biografi"><i class="fa fa-lg fa-user"></i></a>
                    </li>
                    <li>
                        <a href="#ROgranisasi"><i class="fa fa-lg fa-bullhorn"></i></a>
                    </li>
                    <li>
                        <a href="#RPendidikan"><i class="fa fa-lg fa-graduation-cap"></i></a>
                    </li>
                    <li>
                        <a href="#RPenghargaan"><i class="fa fa-lg fa-star-o"></i></a>
                    </li>
                    <li>
                        <a href="#Promises"><i class="fa fa-lg fa-comment"></i></a>
                    </li>
                    <li>
                        <a href="#TVKampanye"><i class="fa fa-lg fa-video-camera"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid versus">
        <div class="row">
            <div class="title col-md-12">
                <h4>Biografi Kandidat</h4>
            </div>
        </div>
        <div class="row content">
            <div class="content1">
                <div class="kiri">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="about" style="text-align:right">
                    <img src="/img/mw_logo.png" style="height:50px; margin:10px">
                    <br/><span>Prototype by Mistral Works</span>
                </div>
            </div>
            <div class="content2">
                <div class="kanan">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="about"  style="text-align:left">
                    <img src="/img/apipemilu-logo-header@2x.png" style="height:50px; margin:10px">
                    <br/><span>Powered by API Pemilu</span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-coblos">
        <i class="fa fa-check"></i>
    </div>
</template>