<template name="modal_coblos">
    <div class="modal fade" id="mdlCoblos" tabindex="-1" role="dialog" aria-labelledby="mdlCoblosLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mdlCoblosLabel" style="text-align:center">Pilih Pasanganmu</h4>
                </div>
                <div class="modal-body">
                    <div class="candidate col-md-12">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Prabowo - Hatta</button>
                            <button type="button" class="btn btn-default">Jokowi - JK</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <center><p>Sertakan Alasanmu</p></center>
                        <div class="col-sm-12">
                            <textarea id="txaReason" class="form-control" style="height : 150px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
                    <button type="submit" class="btn btn-primary">Coblos</button>
                </div>
            </div>
        </div>
    </div>
</template>