/* COVER */

.cover {
    width: 100%;
    background: #fff6bb;
}
.cover .cover-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
}
.capres {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    vertical-align: bottom;
    z-index: 1;
}
.capres .cover-img {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.cover .nav-container {
    z-index: 100;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 65%;
}
.cover .nav-container .nav-down {
    cursor: pointer;
    margin-top: 0px;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    background: rgba(217, 83, 79, 0);
    border-radius: 50%;
    border: 2px #D7402C solid;
    color: #D7402C;
    padding: 3px 15px 3px 15px;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}
.cover .nav-container .nav-down h3 {
    display: none;
    margin-top: 10px;
}
.cover .cover-caption {
    position: absolute;
    top: 10%;
    left: 0px;
    right: 0px;
    text-align: center;
}
.cover .nav-container .nav-down:hover {
    margin-top: 15px;
    color: #fff;
    background: rgb(215, 64, 44);
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}
/* END OF COVER */

/* NAVBAR */

.landing-bar {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.user-session {
    border-radius: 6px;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.3);
}
.user-session span {
    margin-left: 5px;
    margin-right: 5px;
}
/* END OF NAVBAR */

/* CONTENT */

.bg-alt {
    z-index: -50;
}
.bg-alt div img {
    width: 90%;
    text-align: center;
}
.info {
    position: relative;
    overflow: hidden;
}
.komentar {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    background: #D7402C;
    color: #fff;
}
.info .line {
    z-index: -99;
    position: absolute;
    top: 0px;
    width: 2px;
    background: #D7402C;
    left: 50%;
    margin-left: -1px;
    height: 100%;
}

.komentar .line {
    position: absolute;
    top: 100px;
    width: 2px;
    background: #fff;
    left: 50%;
    margin-left: -1px;
    height: 100%;
}
.komentar .title {
    z-index: 1;
    text-align: center;
    margin-bottom: 10px;
}
.kandidat .caption {
    padding-bottom: 0px;
}
.kandidat .caption h3 {
    white-space: nowrap;
    overflow: hidden;
}
.vote-bar {
    z-index: 50;
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.vote-bar div div {
    padding: 0px;
}
.vote-bar .vote-name {
    border-radius: 0px !important;
    background: #D7402C;
    border: 1px solid #D7402C;
    color:#fff;
    display: block;
    width: 100%;
    padding: 10px 16px;
    padding-right: 0;
    padding-left: 0;
    font-size: 22px;
    line-height: 1.33;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.vote-bar button {
    font-size: 22px;
    border-radius: 0px !important;
    background: #D7402C;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}
.komentar .title h3 {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    background: #fff;
    border-radius: 20px;
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
    color: #D7402C;;
}
.commentsbox {
    z-index: -50;
    padding: 15px;
}
/* END OF CONTENT */

.lead .upvote {
    font-size:14px;  
    background: #fff;
    color:#D7402C;
    border-radius:10px;
    padding:5px 10px 5px 10px;
}

.btn-vote {
    border-radius:8px; 
    background: #D7402C;
    color:#fff;
    border: solid 0px;
    margin-right:-5px;
    margin-left:10px;
}

.btn-vote:hover,
.btn-vote-dis {
    cursor: pointer;
    border-radius:8px; 
    background: #fff;
    color:#D7402C;
    border: solid 0px;
    margin-right:-5px;
    margin-left:10px;
}

/* FOOTER */

.footer {
    background: #2e2e2e;
    text-align: center;
    color: #fff;
    padding: 15px;
}
/* END OF FOOTER */