/* COVER */

.cover {
    width: 100%;
    background: #fff6bb;
}
.cover .cover-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
}
.capres {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    vertical-align: bottom;
    z-index: 1;
}
.capres .cover-img {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.cover .nav-container {
    pointer-events:none;
    z-index: 100;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 78%;
}

.cover .menu-container,
.cover .faq-container,
.cover .close-container,
.cover .pertanyaan-container
{
    pointer-events:none;
    z-index: 100;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 65%;
}
.cover .nav-container .nav-down {
    pointer-events:auto;
    cursor: pointer;
    margin-top: 0px;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    background: rgba(217, 83, 79, 0);
    border-radius: 50%;
    border: 2px #D7402C solid;
    color: #D7402C;
    width:80px;
    height:80px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}
.cover .menu-container .nav-menu,
.cover .faq-container .nav-faq,
.cover .pertanyaan-container .nav-pertanyaan{
    pointer-events:auto;
    cursor: pointer;
    margin-top: 0px;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    background: #D7402C;
    border-radius: 50%;
    border: 2px #D7402C solid;
    color: #FFF;
    width:80px;
    height:80px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}
.cover .close-container .nav-close {
    opacity: 0;   
    pointer-events:auto;
    cursor: pointer;
    margin-top: 0px;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    background: #D7402C;
    border-radius: 50%;
    border: 2px #D7402C solid;
    color: #FFF;
    width:80px;
    height:80px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}
.cover .nav-container .nav-down .dwn {
    margin:auto;
}
.cover .nav-container .nav-down .src {
    display: none;
    margin:auto;
}

.cover .menu-container .nav-menu .mnu {
    margin:auto;
    margin-right:3px;
    margin-left:3px;
}
.cover .faq-container .nav-faq .mnu,
.cover .pertanyaan-container .nav-pertanyaan .mnu,
.cover .close-container .nav-close p{
    margin:auto;
}
.cover .cover-caption {
    position: absolute;
    top: 10%;
    left: 0px;
    right: 0px;
    text-align: center;
}
.cover .nav-container .nav-down:hover {
    margin-top: 15px;
    color: #fff;
    background: rgb(215, 64, 44);
}

.cover .menu-container .nav-menu:hover,
.cover .faq-container .nav-faq:hover,
.cover .pertanyaan-container .nav-pertanyaan:hover,
.cover .close-container .nav-close:hover{
    color: #D7402C;
    background: #FFF;
    border: 2px #D7402C solid;
}


.cover .nav-container .banding:hover {
    width: 170px;
    height: 170px;
    color: #fff;
    background: rgb(215, 64, 44);
}
/* END OF COVER */

/* WEBKIT SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bf2918; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(106, 106, 106, 0.4); 
}


/* END OF WEBKIT SCROLLBAR */

/* NAVBAR */

.landing-bar {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.user-session {
    border-radius: 6px;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.3);
}
.user-session span {
    margin-left: 5px;
    margin-right: 5px;
}

.g-plus {
    position: fixed;
    left:0;
}
/* END OF NAVBAR */

/* CONTENT */
.zpanel-menu .text {
    position:absolute;
    display:none;   
    background: #ebebeb;
    margin-top:-7px;
    margin-bottom:-7px;
    margin-left:28px;
    padding:6px;
    border: 1px solid #adadad;
    border-left: 0px solid;
}

/*
.zpanel-menu label:hover i {
    display:none;   
}
*/

.zpanel-menu label:hover .text {
    display:block;   
}
.bg-alt {
    z-index: -50;
}
.bg-alt div img {
    width: 90%;
    text-align: center;
}
.info {
    position: relative;
    overflow: hidden;
}
.komentar {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    background: #D7402C;
    color: #fff;
}
.info .line {
    z-index: -99;
    position: absolute;
    top: 0px;
    width: 2px;
    background: #D7402C;
    left: 50%;
    margin-left: -1px;
    height: 100%;
}

.bg-grad {
    z-index: -99;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-left: -1px;
    height: 100%;
    background: rgb(237,237,237);
background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 80%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(80%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 80%);
background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 80%);
background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 80%);
background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 80%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
}

.komentar .line {
    position: absolute;
    top: 100px;
    width: 2px;
    background: #fff;
    left: 50%;
    margin-left: -1px;
    height: 100%;
}
.komentar .title {
    z-index: 1;
    text-align: center;
    margin-bottom: 10px;
}
.kandidat .caption {
    padding-bottom: 0px;
}
.kandidat .caption h3 {
    white-space: nowrap;
    overflow: hidden;
}
.vote-bar {
    z-index: 50;
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.vote-bar div div {
    padding: 0px;
}
.vote-bar .vote-name {
    border-radius: 0px !important;
    background: #D7402C;
    border: 1px solid #D7402C;
    color:#fff;
    display: block;
    width: 100%;
    padding: 10px 16px;
    padding-right: 0;
    padding-left: 0;
    font-size: 22px;
    line-height: 1.33;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.vote-bar button {
    font-size: 22px;
    border-radius: 0px !important;
    background: #D7402C;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}
.komentar .title h3 {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    background: #fff;
    border-radius: 20px;
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
    color: #D7402C;;
}
.commentsbox {
    z-index: -50;
    padding: 15px;
}
/* END OF CONTENT */

.lead .upvote {
    font-size:14px;  
    background: #fff;
    color:#D7402C;
    border-radius:10px;
    padding:5px 10px 5px 10px;
}

.btn-vote {
    border-radius:8px; 
    background: #D7402C;
    color:#fff;
    border: solid 0px;
    margin-right:-5px;
    margin-left:10px;
}

.btn-vote:hover,
.btn-vote-dis {
    cursor: pointer;
    border-radius:8px; 
    background: #fff;
    color:#D7402C;
    border: solid 0px;
    margin-right:-5px;
    margin-left:10px;
}

.coblosBtn {
    z-index: 99;
    position: absolute;
    width:100%;
    text-align: center;
}

.coblosBtn div {
    height:100%;   
}

.coblosBtn .kiri .btn-coblos,
.coblosBtn .kanan .btn-coblos{
    opacity: 0;
    margin-top: 35%;
    text-decoration: none;
    background: rgb(63, 154, 59);
    border-radius: 50%;
    border: 0px solid;
    color: #fff;
    width:180px;
    height:180px;
    text-align: center;
    vertical-align: middle;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;   
}

.coblosBtn .kiri:hover .btn-coblos:hover,
.coblosBtn .kanan:hover .btn-coblos:hover {
    background: rgb(41, 186, 38);
    margin-top: 32%;
    width:200px;
    height:200px;
}

.coblosBtn .kiri:hover .btn-coblos,
.coblosBtn .kanan:hover .btn-coblos {
    opacity: 1;
    margin-top: 33%;
}
.coblosBtn .kiri,
.coblosBtn .kanan{
    background: rgba(0, 0, 0, 0);
}
.coblosBtn .kiri:hover,
.coblosBtn .kanan:hover{
    background: rgba(0, 0, 0, 0.2);
     -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}


.faq-q {
    color:#D7402C;
    margin-bottom: 0px;
    margin-top: 10px;
}
.faq-a {
    color:#333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.faq-ref {
    color:#555;
    margin-bottom: 10px;
}
/* FOOTER */

.footer {
    background: #2e2e2e;
    text-align: center;
    color: #fff;
    padding: 15px;
}
/* END OF FOOTER */