<template name="app">
    <div>
        {{>navbar}} {{>versus}} {{>modal_candidate_info}} {{>modal_coblos}}
        <div class="leftpanel leftpanel-hide">
            <center>
                <div class="btn-group" data-toggle="buttons">
                    <label id="btnPrabowoInfo" class="btn btn-danger active">
                        <input  type="radio" >Capres
                    </label>
                    <label id="btnHattaInfo" class="btn btn-danger">
                        <input  type="radio" >Cawapres
                    </label>
                </div>
            </center>
            <h1 class="zpanel-header">{{LeftHeader}}</h1>
            <div id="leftContent" class="zpanel-body">
                {{#if IsBiografi}}
                {{LeftBiografi}}
                {{/if}}
                {{#if IsRiwayatOrganisasi}}
                {{#each LeftRiwayatOrganisasis}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{jabatan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Ringkasan</dt>
                            <dd>{{ringkasan}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Mulai</dt>
                            <dd>{{tanggal_mulai}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Selesai</dt>
                            <dd>{{tanggal_selesai}}</dd>
                        </dl>
                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsRiwayatPekerjaan}}
                {{#each LeftRiwayatPekerjaans}}
                <div class="panel panel-default" style="color :#333">
                    <div class="panel-heading">
                        {{ringkasan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Tanggal Mulai</dt>
                            <dd>{{tanggal_mulai}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Selesai</dt>
                            <dd>{{tanggal_selesai}}</dd>
                        </dl>
                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsRiwayatPendidikan}}
                {{#each LeftRiwayatPendidikans}}
                <div class="panel panel-default" style="color :#333">
                    <div class="panel-heading">
                        {{ringkasan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Tanggal Mulai</dt>
                            <dd>{{tanggal_mulai}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Selesai</dt>
                            <dd>{{tanggal_selesai}}</dd>
                        </dl>
                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsRiwayatPenghargaan}}
                {{#each LeftIsRiwayatPenghargaans}}
                <div class="panel panel-default" style="color :#333">
                    <div class="panel-heading">
                        {{ringkasan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Institusi</dt>
                            <dd>{{institusi}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal</dt>
                            <dd>{{tanggal}}</dd>
                        </dl>

                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsTVKampanye}}
                <iframe width="560" height="315" src="//www.youtube.com/embed/{{LeftTVKampanyeID}}" frameborder="0" allowfullscreen></iframe>
                <div class="list-group">
                    {{#each LeftTVKampanyeLists}}
                    {{>campaign_video_list_item}}

                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="rightpanel rightpanel-hide" style="background: #d2322d;color: white;">
            <center>
                <div class="btn-group" data-toggle="buttons">
                    <label id="btnJokowiInfo" class="btn btn-default active">
                        <input  type="radio">Capres
                    </label>
                    <label id="btnJKInfo" class="btn btn-default">
                        <input  type="radio">Cawapres
                    </label>
                </div>
            </center>
            <h1 class="zpanel-header">{{RightHeader}}</h1>
            <div id="rightContent" class="zpanel-body">
                {{#if IsBiografi}}
                {{RightBiografi}}
                {{/if}}
                {{#if IsRiwayatOrganisasi}}
                {{#each RightRiwayatOrganisasis}}
                <div class="panel panel-default" style="color :#333">
                    <div class="panel-heading">
                        {{jabatan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Ringkasan</dt>
                            <dd>{{ringkasan}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Mulai</dt>
                            <dd>{{tanggal_mulai}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Selesai</dt>
                            <dd>{{tanggal_selesai}}</dd>
                        </dl>
                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsRiwayatPekerjaan}}
                {{#each RightRiwayatPekerjaans}}
                <div class="panel panel-default" style="color :#333">
                    <div class="panel-heading">
                        {{ringkasan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Tanggal Mulai</dt>
                            <dd>{{tanggal_mulai}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Selesai</dt>
                            <dd>{{tanggal_selesai}}</dd>
                        </dl>
                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsRiwayatPendidikan}}
                {{#each RightRiwayatPendidikans}}
                <div class="panel panel-default" style="color :#333">
                    <div class="panel-heading">
                        {{ringkasan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Tanggal Mulai</dt>
                            <dd>{{tanggal_mulai}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal Selesai</dt>
                            <dd>{{tanggal_selesai}}</dd>
                        </dl>
                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsRiwayatPenghargaan}}
                {{#each RightRiwayatPenghargaans}}
                <div class="panel panel-default" style="color :#333">
                    <div class="panel-heading">
                        {{ringkasan}}
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Institusi</dt>
                            <dd>{{institusi}}</dd>
                        </dl>
                        <dl>
                            <dt>Tanggal</dt>
                            <dd>{{tanggal}}</dd>
                        </dl>
                    </div>
                </div>
                {{/each}}
                {{/if}}
                {{#if IsTVKampanye}}
                <iframe width="560" height="315" src="//www.youtube.com/embed/{{RightTVKampanyeID}}" frameborder="0" allowfullscreen></iframe>
                <div class="list-group">
                    {{#each RightTVKampanyeLists}}
                    {{>campaign_video_list_item}}
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="zpanel-menu">
            <div class="btn-group-vertical" data-toggle="buttons">
                <label id="btnBiografi" class="btn btn-default active">
                    <input type="radio">Data Pribadi
                </label>
                <label id="btnROgranisasi" class="btn btn-default">
                    <input type="radio">Riwayat Organisasi
                </label>
                <label id="btnRPekerjaan" class="btn btn-default">
                    <input type="radio">Riwayat Pekerjaan
                </label>
                <label id="btnRPendidikan" class="btn btn-default">
                    <input type="radio">Riwayat Pendidikan
                </label>
                <label id="btnRPenghargaan" class="btn btn-default">
                    <input type="radio">Riwayat Penghargaan
                </label>
                <label id="btnTVKampanye" class="btn btn-success">
                    <input type="radio">TV Kampanye
                </label>
                <button type="button" class="btn btn-danger" onclick="return ZPanel.hide();">Tutup</button>
            </div>
            

        </div>
    </div>
</template>