<template name="app">
    <div>
        {{>navbar}} {{>versus}} {{>modal_candidate_info}} {{>modal_coblos}}
        <div class="leftpanel leftpanel-hide">
            <h1 class="zpanel-header">{{LeftHeader}}</h1>
            <div id="leftContent" class="zpanel-body">
                {{LeftContent}}
            </div>
        </div>
        <div class="rightpanel rightpanel-hide">
            <h1 class="zpanel-header">{{RightHeader}}</h1>
            <div id="rightContent" class="zpanel-body">
                {{RightContent}}
            </div>
        </div>
        <div class="zpanel-menu">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-default">Data Pribadi</button>
                <button type="button" class="btn btn-default">Riwayat Organisasi</button>
                <button type="button" class="btn btn-default">Riwayat Pekerjaan</button>
                <button type="button" class="btn btn-default">Riwayat Pendidikan</button>
                <button type="button" class="btn btn-default">Riwayat Penghargaan</button>
                <button type="button" class="btn btn-danger" onclick="return ZPanel.hide();">Tutup</button>
            </div>
        </div>
    </div>
</template>