<template name="navbar">
    <!-- Place this tag where you want the share button to render. -->
    <div style="position:fixed; left:0; padding:10px; z-index:101;">
        <div class="g-plus" data-action="share" data-annotation="bubble" data-height="24" data-href="http://pemilukita-15.onmodulus.net">             </div>
    </div>
    <div id="userbar" style="position:fixed; right:0; padding:10px; z-index:101;">
        {{#if IsLoggedIn}}
        <div class="user-session">
            <span>{{ActiveUsername}}</span>
            <button id="getStamps" class="btn btn-success" data-toggle="modal" data-target="#mdlStamps">Promote Us!</button>
            <button id="btnLogout" class="btn btn-danger">Logout</button>
        </div>
        {{else}}
        <button id="getStamps" class="btn btn-success" data-toggle="modal" data-target="#mdlStamps">Promote Us!</button>
        <button data-target="#mdlLoginTerms" data-toggle="modal" class="btn btn-danger">
            <i class="fa fa-lg fa-fw fa-google-plus"></i>&nbsp;&nbsp;Login with google</button>

        {{/if}}
    </div>
    {{>modal_kebijakan_privasi}}
</template>