<template name="reason">
    <div>
        <p class="lead">
            "{{Reason}}"
            <br/>
            {{#if Disabled}}
                <span class="upvote">{{#if IsOwn}}{{else}}<button class="btn-vote-dis" style="margin-right:10px;
    margin-left:-5px;">
                    <i class="fa fa-fw fa-thumbs-o-up"></i>You voted this!</button>{{/if}} {{AmountOfVote}}</span>
            {{else}}
                <span class="upvote"> {{#if IsOwn}}{{else}}<button id="btnVoteUp" class="btn-vote" style="margin-right:10px;
    margin-left:-5px;">
                    <i class="fa fa-fw fa-thumbs-o-up"></i>Vote this!</button>{{/if}} {{AmountOfVote}}</span>
            {{/if}}
        </p>
    </div>
</template>