<template name="versus">
    <div class="container-fluid cover">
        <img class="row cover-overlay" src="/img/indonesia.png">
        <div class="nav-container">
            <a href="" class="nav-down">
                <i class="fa fa-angle-down fa-5x"></i>
                <h3>Bandingkan</h3>
            </a>
        </div>
        <div class="cover-caption">
            <img src="/img/logo_small.png" style="width:15%;">
            <h2 style="color:#D7402C; margin-top:10px;">
            KENALI. PAHAMI.
            </h2>
        </div>
    </div>
    <div class="container-fluid capres">
        <div class="row" style="height:100%">
            <div class="col-md-6" style="padding-left:0px; height:100%;">
                <img class="cover-img" src="/img/prabowohatta.png">
            </div>
            <div class="col-md-6" style="padding-right:0px; height:100%;">
                <img class="cover-img" src="/img/jokowijk.png">
            </div>
        </div>
    </div>
    <div class="container-fluid info">
        <div class="bg-grad">
        </div>
        <div class="row bg-alt">
            <div class="col-md-6">
                <img src="/img/prabowohatta2.png" style="margin-top:-30%">
            </div>
            <div class="col-md-6">
                <img src="/img/jokowijk2.png" style="margin-left:10%;">
            </div>
        </div>
        <!--<div class="row kandidat" style="margin-top:130px;">
            <div class="col-md-6">
                <div>
                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/capres/prabowo.jpg" class="img-responsive" />
                            <div class="caption">
                                <h3>Prabowo Subianto</h3>
                                <p>{{RolePrabowo}}</p>
                                <p>
                                    <a id="btnBukaPrabowo" href="#" class="btn btn-primary btn-block" role="button">Buka</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/cawapres/Hatta.jpg" class="img-responsive" />
                            <div class="caption">
                                <h3>Hatta Rajasa</h3>
                                <p>{{RoleHatta}}</p>
                                <p>
                                    <a id="btnBukaHatta" href="#" class="btn btn-primary btn-block"  role="button">Buka</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/capres/jokowi.jpg" class="img-responsive" />
                            <div class="caption">
                                <h3>Joko Widodo</h3>
                                <p>{{RoleJokowi}}</p>
                                <p>
                                    <a id="btnBukaJokowi" href="#" class="btn btn-primary btn-block" role="button">Buka</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="thumbnail">
                            <img src="/img/cawapres/jk.jpg" class="img-responsive" />
                            <div class="caption">
                                <h3>Jusuf Kalla</h3>
                                <p>{{RoleJK}}</p>
                                <p>
                                    <a id="btnBukaJK" href="#" class="btn btn-primary btn-block"  role="button">Buka</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>-->
    </div>
    <div class="container-fluid vote-bar">
        <div class="row">
            <div class="col-md-6">
                {{#if IsVoted}}
                <div class="col-md-12" style="padding-left:0px">
                    <div class="vote-name">PRABOWO-HATTA</div>
                </div>
                {{else}}
                <div class="col-md-12" style="padding-left:0px">
                    <button id="btnVote1" class="btn btn-danger btn-block btn-lg">PILIH PRABOWO-HATTA</button>
                </div>
                {{/if}}
            </div>
            <div class="col-md-6">
                {{#if IsVoted}}
                <div class="col-md-12" style="padding-left:0px">
                    <div class="vote-name">JOKOWI-JK</div>
                </div>
                {{else}}
                <div class="col-md-12" style="padding-right:0px">
                    <button id="btnVote2" class="btn btn-danger btn-block btn-lg">PILIH JOKOWI-JK</button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if HasCoblos}}
    <div class="container-fluid komentar">

        <div class="line">
        </div>
        <div class="title">
            <h3>
                Komentar Publik
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6" style="text-align:right">
                {{#each SatuReasons}} {{>reason}} {{/each}}
            </div>
            <div class="col-md-6" style="text-align:left">
                {{#each DuaReasons}} {{>reason2}} {{/each}}
            </div>
        </div>
        <div class="row" style="height:100px;"></div>

    </div>
    {{/if}}
    <div class="container-fluid footer">
        <div class="col-md-offset-4 col-md-2">
            <img src="/img/mw_logo.png" style="height:50px; margin:10px">
            <p>Prototype by Mistral Works</p>
        </div>
        <div class="col-md-2">
            <img src="/img/apipemilu-logo-header@2x.png" style="height:50px; margin:10px">
            <p>Powered by API Pemilu</p>
        </div>
    </div>
</template>