<template name="versus">
    <div class="container">
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/img/capres/prabowo.jpg" class="img-responsive" />
                        <div class="caption">
                            <h3>Prabowo Subianto</h3>
                            <p>{{RolePrabowo}}</p>
                            <p>
                                <a id="btnBukaPrabowo" href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdlCandidateInfo" role="button">Buka</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/img/cawapres/Hatta.jpg" class="img-responsive" />
                        <div class="caption">
                            <h3>Hatta Rajasa</h3>
                            <p>{{RoleHatta}}</p>
                            <p>
                                <a id="btnBukaHatta" href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdlCandidateInfo" role="button">Buka</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            {{#if IsVoted}}
            
            {{else}}
            <div class="col-md-12">
                <button id="btnVote1" class="btn btn-default btn-block" data-target="#mdlCoblos" data-toggle="modal">Coblos</button>
            </div>
            {{/if}}
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/img/capres/jokowi.jpg" class="img-responsive" />
                        <div class="caption">
                            <h3>Joko Widodo</h3>
                            <p>{{RoleJokowi}}</p>
                            <p>
                                <a id="btnBukaJokowi" href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdlCandidateInfo" role="button">Buka</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/img/cawapres/jk.jpg" class="img-responsive" />
                        <div class="caption">
                            <h3>Jusuf Kalla</h3>
                            <p>{{RoleJK}}</p>
                            <p>
                                <a id="btnBukaJK" href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdlCandidateInfo" role="button">Buka</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            {{#if IsVoted}}
            
            {{else}}
            <div class="col-md-12">
                <button id="btnVote2" class="btn btn-default btn-block" data-target="#mdlCoblos" data-toggle="modal">Coblos</button>
            </div>
            {{/if}}
        </div>
    </div>
</template>